workflows/01-weekly-dispatcher.json
{
  "name": "CNCTD OS — Weekly Dispatcher v1",
  "nodes": [
    {
      "id": "trigger",
      "name": "Каждый день 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "q0",
      "name": "Читать: Стратегия",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/3aa031fa-b83f-4f5e-9146-3f7ec1d3def5/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag0",
      "name": "Метка: Стратегия",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        -480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Стратегия', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q1",
      "name": "Читать: Финансы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/070cbcdb-2d03-47c0-9953-42919515aa73/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag1",
      "name": "Метка: Финансы",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        -360
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Финансы', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q2",
      "name": "Читать: Юридические",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/6a50fc10-8a28-4b7f-9aa5-b6838116980b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag2",
      "name": "Метка: Юридические",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        -240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Юридические', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q3",
      "name": "Читать: Продажи",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/b6c3224c-def1-40e8-ad61-fe6d1230ba78/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag3",
      "name": "Метка: Продажи",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        -120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Продажи', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q4",
      "name": "Читать: Маркетинг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/c9c4834e-bd41-4dfe-b7f2-217cd4a894be/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag4",
      "name": "Метка: Маркетинг",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Маркетинг', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q5",
      "name": "Читать: Продукты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/a497c56e-993b-4dcd-b935-ab9a207075ec/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag5",
      "name": "Метка: Продукты",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Продукты', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q6",
      "name": "Читать: Проекты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5c5a9a29-4fa4-4446-90cd-4d1fcb0da63a/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag6",
      "name": "Метка: Проекты",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Проекты', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q7",
      "name": "Читать: Команда",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        360
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5f690d5e-d056-44ca-b716-eeab25b872fa/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag7",
      "name": "Метка: Команда",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        360
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Команда', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "q8",
      "name": "Читать: Операционка",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        480
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/d2aaea6b-ac4e-48fb-91a7-6910c5bc904e/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "tag8",
      "name": "Метка: Операционка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        510,
        480
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;\nreturn [{ json: { department: 'Операционка', rows: Array.isArray(response.results) ? response.results : [] } }];"
      }
    },
    {
      "id": "merge",
      "name": "Собрать отделы",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        0
      ],
      "parameters": {
        "numberInputs": 9,
        "mode": "append"
      }
    },
    {
      "id": "calc",
      "name": "Рассчитать и распределить",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "parameters": {
        "jsCode": "const input=$input.all().map(i=>i.json);\nconst days=['Понедельник','Вторник','Среда','Четверг','Пятница','Суббота','Воскресенье'];\nconst now=new Date(); now.setHours(0,0,0,0);\nconst monday=new Date(now); const wd=(now.getDay()+6)%7; monday.setDate(now.getDate()-wd);\nconst dateOf=i=>{const d=new Date(monday);d.setDate(monday.getDate()+i);return d};\nconst stats=input.map(({department,rows})=>{rows=Array.isArray(rows)?rows:[];let open=rows.length,urgent=0,overdue=0,nearest=null,medium=0;for(const p of rows){const pr=p.properties?.['Приоритет']?.select?.name||'';const due=p.properties?.['Дедлайн']?.date?.start;if(pr.includes('Высокий'))urgent++;if(pr==='Средний')medium++;if(due){const d=new Date(due);if(d<now)overdue++;if(!nearest||d<nearest)nearest=d}}const score=open+urgent*3+medium+overdue*5;return{department,open,urgent,overdue,nearest,score}}).filter(x=>x.open>0).sort((a,b)=>b.score-a.score);\nconst buckets=days.map((day,i)=>({day,i,cats:[],score:0,open:0,urgent:0,overdue:0,nearest:null}));\nfor(const s of stats){let allowed=[0,1,2,3,4];if(s.nearest&&s.nearest<dateOf(5)) allowed=allowed.filter(i=>dateOf(i)<=s.nearest);if(!allowed.length&&s.nearest&&s.nearest<dateOf(7))allowed=[5,6].filter(i=>dateOf(i)<=s.nearest);if(!allowed.length)allowed=[0,1,2,3,4];const b=allowed.map(i=>buckets[i]).sort((a,b)=>a.score-b.score||a.i-b.i)[0];b.cats.push(s.department);b.score+=s.score;b.open+=s.open;b.urgent+=s.urgent;b.overdue+=s.overdue;if(s.nearest&&(!b.nearest||s.nearest<b.nearest))b.nearest=s.nearest;}\nreturn buckets.map(b=>{const index=Math.min(100,Math.round(b.score*5));const filled=Math.min(10,Math.ceil(index/10));const level=index<35?'🟢 Низкая':index<70?'🟡 Средняя':'🔴 Высокая';return{json:{day:b.day,order:b.i+1,categories:b.cats,open:b.open,urgent:b.urgent,overdue:b.overdue,nearest:b.nearest?b.nearest.toISOString().slice(0,10):null,index,level,bar:'█'.repeat(filled)+'░'.repeat(10-filled),summary:b.cats.length?b.cats.join(', ')+': '+b.open+' открытых, '+b.overdue+' просроченных':'Нет активных направлений',updated:new Date().toISOString()}}});"
      }
    },
    {
      "id": "find",
      "name": "Найти строку дня",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5c523f23-df7a-4a2f-b5f3-cf682f3fcf3c/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"page_size\":1,\"filter\":{\"and\":[{\"property\":\"День\",\"title\":{\"equals\":\"{{$json.day}}\"}},{\"property\":\"Активная\",\"checkbox\":{\"equals\":true}}]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "payload",
      "name": "Подготовить upsert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1290,
        0
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const plan=$('Рассчитать и распределить').all()[$itemIndex].json;const raw=$json;const bytes=(raw?._readableState?.buffer||[]).flatMap(x=>x?.data||[]);const response=raw?.results?raw:bytes.length?JSON.parse(new TextDecoder().decode(Uint8Array.from(bytes))):typeof raw?.body==='string'?JSON.parse(raw.body):raw?.body||raw;const existing=response.results?.[0]?.id;const rich=v=>[{type:'text',text:{content:String(v)}}];const properties={'День':{title:rich(plan.day)},'Порядок':{number:plan.order},'Активная':{checkbox:true},'Категории':{multi_select:plan.categories.map(name=>({name}))},'Индекс нагрузки':{number:plan.index},'Уровень нагрузки':{select:{name:plan.level}},'Шкала нагрузки':{rich_text:rich(plan.bar)},'Открытых задач':{number:plan.open},'Срочных задач':{number:plan.urgent},'Просроченных':{number:plan.overdue},'Сводка':{rich_text:rich(plan.summary)},'Последнее обновление':{date:{start:plan.updated}},'Ближайший дедлайн':{date:plan.nearest?{start:plan.nearest}:null}};return {json:{method:existing?'PATCH':'POST',url:existing?'https://api.notion.com/v1/pages/'+existing:'https://api.notion.com/v1/pages',body:existing?{properties}:{parent:{database_id:'5c523f23-df7a-4a2f-b5f3-cf682f3fcf3c'},properties}}};"
      }
    },
    {
      "id": "upsert",
      "name": "Обновить диспетчер",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Каждый день 06:00": {
      "main": [
        [
          {
            "node": "Читать: Стратегия",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Финансы",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Юридические",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Продажи",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Маркетинг",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Продукты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Проекты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Команда",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать: Операционка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать: Стратегия": {
      "main": [
        [
          {
            "node": "Метка: Стратегия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Стратегия": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать: Финансы": {
      "main": [
        [
          {
            "node": "Метка: Финансы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Финансы": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Читать: Юридические": {
      "main": [
        [
          {
            "node": "Метка: Юридические",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Юридические": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Читать: Продажи": {
      "main": [
        [
          {
            "node": "Метка: Продажи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Продажи": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Читать: Маркетинг": {
      "main": [
        [
          {
            "node": "Метка: Маркетинг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Маркетинг": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Читать: Продукты": {
      "main": [
        [
          {
            "node": "Метка: Продукты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Продукты": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Читать: Проекты": {
      "main": [
        [
          {
            "node": "Метка: Проекты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Проекты": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Читать: Команда": {
      "main": [
        [
          {
            "node": "Метка: Команда",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Команда": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Читать: Операционка": {
      "main": [
        [
          {
            "node": "Метка: Операционка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Метка: Операционка": {
      "main": [
        [
          {
            "node": "Собрать отделы",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Собрать отделы": {
      "main": [
        [
          {
            "node": "Рассчитать и распределить",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рассчитать и распределить": {
      "main": [
        [
          {
            "node": "Найти строку дня",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Найти строку дня": {
      "main": [
        [
          {
            "node": "Подготовить upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить upsert": {
      "main": [
        [
          {
            "node": "Обновить диспетчер",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kiev",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "active": false,
  "versionId": "f2860130-8765-4aa7-9400-294793cda001",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
