workflows/03-weekly-analytics.json
{
  "name": "CNCTD OS — Weekly Analytics v1",
  "nodes": [
    {
      "id": "a1",
      "name": "Воскресенье 20:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      }
    },
    {
      "id": "a2",
      "name": "Читать журнал",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/daa0be3f-59ce-4761-8625-43419d47c7d7/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"sorts\":[{\"property\":\"Дата снимка\",\"direction\":\"descending\"}]}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a3",
      "name": "Рассчитать аналитику",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "jsCode": "const pages=$json.results||[];const txt=p=>p?.rich_text?.map(x=>x.plain_text).join('')||'';const rows=pages.map(x=>{const p=x.properties;return{week:txt(p['Неделя']),day:p['День']?.select?.name||'',date:p['Дата снимка']?.date?.start||'',open:p['Открытых задач']?.number||0,urgent:p['Срочных задач']?.number||0,overdue:p['Просроченных']?.number||0,index:p['Индекс нагрузки']?.number||0,cats:(p['Категории']?.multi_select||[]).map(v=>v.name)}}).filter(x=>x.week);const weeks=[...new Set(rows.map(x=>x.week))].sort().reverse();if(!weeks.length)return[];const summarize=w=>{const latest={};for(const r of rows.filter(x=>x.week===w).sort((a,b)=>b.date.localeCompare(a.date)))if(!latest[r.day])latest[r.day]=r;const a=Object.values(latest);const sum=k=>a.reduce((n,x)=>n+x[k],0);const peak=a.sort((x,y)=>y.index-x.index)[0]||{};const cats={};a.forEach(x=>x.cats.forEach(c=>cats[c]=(cats[c]||0)+x.index));return{week:w,open:sum('open'),urgent:sum('urgent'),overdue:sum('overdue'),avg:a.length?Math.round(sum('index')/a.length):0,peak:peak.index||0,peakDay:peak.day||'',cats:Object.entries(cats).sort((a,b)=>b[1]-a[1]).slice(0,3).map(x=>x[0]).join(', ')}};const cur=summarize(weeks[0]),prev=weeks[1]?summarize(weeks[1]):null;const pct=(a,b)=>b?Math.round((a-b)/b*100):0;const start=new Date(cur.week);const end=new Date(start);end.setDate(end.getDate()+6);const openChange=prev?pct(cur.open,prev.open):0,overdueChange=prev?pct(cur.overdue,prev.overdue):0;const conclusion=cur.overdue>0?'Требуется внимание: '+cur.overdue+' просроченных задач.':'Просроченных задач нет.';return[{json:{key:cur.week,week:cur.week,end:end.toISOString().slice(0,10),avg:cur.avg,peak:cur.peak,open:cur.open,urgent:cur.urgent,overdue:cur.overdue,openChange,overdueChange,peakDay:cur.peakDay,cats:cur.cats,conclusion,updated:new Date().toISOString()}}]"
      }
    },
    {
      "id": "a4",
      "name": "Найти отчёт недели",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/ae572a2d-a2ab-43c0-8ea4-b2fbd5c87159/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"page_size\":1,\"filter\":{\"property\":\"Ключ отчёта\",\"rich_text\":{\"equals\":\"{{$json.key}}\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a5",
      "name": "Подготовить отчёт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "jsCode": "const a=$('Рассчитать аналитику').item.json;const id=$json.results?.[0]?.id;const rt=v=>[{type:'text',text:{content:String(v)}}];const properties={'Отчёт':{title:rt('Аналитика недели '+a.week)},'Неделя':{rich_text:rt(a.week)},'Начало недели':{date:{start:a.week}},'Конец недели':{date:{start:a.end}},'Средняя нагрузка':{number:a.avg},'Пиковая нагрузка':{number:a.peak},'Открытых задач':{number:a.open},'Срочных задач':{number:a.urgent},'Просроченных':{number:a.overdue},'Изменение открытых %':{number:a.openChange},'Изменение просроченных %':{number:a.overdueChange},'Самый загруженный день':{rich_text:rt(a.peakDay)},'Перегруженные категории':{rich_text:rt(a.cats)},'Вывод':{rich_text:rt(a.conclusion)},'Последний расчёт':{date:{start:a.updated}},'Ключ отчёта':{rich_text:rt(a.key)}};return[{json:{method:id?'PATCH':'POST',url:id?'https://api.notion.com/v1/pages/'+id:'https://api.notion.com/v1/pages',body:id?{properties}:{parent:{database_id:'ae572a2d-a2ab-43c0-8ea4-b2fbd5c87159'},properties}}}]"
      }
    },
    {
      "id": "a6",
      "name": "Записать аналитику",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Воскресенье 20:00": {
      "main": [
        [
          {
            "node": "Читать журнал",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Читать журнал": {
      "main": [
        [
          {
            "node": "Рассчитать аналитику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Рассчитать аналитику": {
      "main": [
        [
          {
            "node": "Найти отчёт недели",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Найти отчёт недели": {
      "main": [
        [
          {
            "node": "Подготовить отчёт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить отчёт": {
      "main": [
        [
          {
            "node": "Записать аналитику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kiev",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "active": false,
  "tags": []
}
