workflows/04-team-daily-plan.json
{
  "name": "CNCTD OS — Team Daily Plan v1",
  "nodes": [
    {
      "id": "t",
      "name": "Ежедневно 06:10",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "10 6 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "q0",
      "name": "Задачи: Стратегия",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/3aa031fa-b83f-4f5e-9146-3f7ec1d3def5/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d0",
      "name": "Данные: Стратегия",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -500
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Стратегия',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q1",
      "name": "Задачи: Финансы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -390
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/070cbcdb-2d03-47c0-9953-42919515aa73/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d1",
      "name": "Данные: Финансы",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -390
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Финансы',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q2",
      "name": "Задачи: Юридические",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -280
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/6a50fc10-8a28-4b7f-9aa5-b6838116980b/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d2",
      "name": "Данные: Юридические",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -280
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Юридические',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q3",
      "name": "Задачи: Продажи",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -170
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/b6c3224c-def1-40e8-ad61-fe6d1230ba78/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d3",
      "name": "Данные: Продажи",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -170
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Продажи',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q4",
      "name": "Задачи: Маркетинг",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        -60
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/c9c4834e-bd41-4dfe-b7f2-217cd4a894be/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d4",
      "name": "Данные: Маркетинг",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -60
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Маркетинг',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q5",
      "name": "Задачи: Продукты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        50
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/a497c56e-993b-4dcd-b935-ab9a207075ec/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d5",
      "name": "Данные: Продукты",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        50
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Продукты',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q6",
      "name": "Задачи: Проекты",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5c5a9a29-4fa4-4446-90cd-4d1fcb0da63a/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d6",
      "name": "Данные: Проекты",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        160
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Проекты',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q7",
      "name": "Задачи: Команда",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        270
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5f690d5e-d056-44ca-b716-eeab25b872fa/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d7",
      "name": "Данные: Команда",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        270
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Команда',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "q8",
      "name": "Задачи: Операционка",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        380
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/d2aaea6b-ac4e-48fb-91a7-6910c5bc904e/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100,\"filter\":{\"property\":\"Статус\",\"select\":{\"does_not_equal\":\"Готово\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "d8",
      "name": "Данные: Операционка",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        380
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'tasks',department:'Операционка',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "disp",
      "name": "Читать назначения диспетчера",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        250,
        520
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/5c523f23-df7a-4a2f-b5f3-cf682f3fcf3c/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"page_size\":100}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "dt",
      "name": "Данные диспетчера",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        520
      ],
      "parameters": {
        "jsCode": "return [{json:{kind:'dispatcher',rows:Array.isArray($json.results)?$json.results:[]}}]"
      }
    },
    {
      "id": "m",
      "name": "Собрать источники",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        750,
        0
      ],
      "parameters": {
        "numberInputs": 10,
        "mode": "append"
      }
    },
    {
      "id": "p",
      "name": "Сформировать план сотрудников",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "parameters": {
        "jsCode": "const all=$input.all().map(x=>x.json);const disp=all.find(x=>x.kind==='dispatcher')?.rows||[];const tasks=Object.fromEntries(all.filter(x=>x.kind==='tasks').map(x=>[x.department,x.rows]));const title=p=>p?.title?.map(x=>x.plain_text).join('')||'';const rich=p=>p?.rich_text?.map(x=>x.plain_text).join('')||'';const dayByCat={};for(const r of disp){const day=title(r.properties?.['День']);for(const c of r.properties?.['Категории']?.multi_select||[])dayByCat[c.name]=day}const now=new Date();const mon=new Date(now);mon.setDate(now.getDate()-((now.getDay()+6)%7));const week=mon.toISOString().slice(0,10);const catMap={'Продукты':'Продукт','Проекты':'Разработка','Команда':'HR / Recruiting','Операционка':'Операционная деятельность'};const dayIndex={'Понедельник':0,'Вторник':1,'Среда':2,'Четверг':3,'Пятница':4,'Суббота':5,'Воскресенье':6};const groups={};for(const [cat,rows] of Object.entries(tasks)){const day=dayByCat[cat];if(!day)continue;for(const r of rows){const p=r.properties||{};const owner=rich(p['Ответственный']).trim()||'Не назначен';const key=[week,day,cat,owner.toLowerCase()].join('|');const g=groups[key]??={key,week,day,category:catMap[cat]||cat,owner,count:0,high:0,titles:[],nearest:null};g.count++;if((p['Приоритет']?.select?.name||'').includes('Высокий'))g.high++;const due=p['Дедлайн']?.date?.start;if(due&&(!g.nearest||due<g.nearest))g.nearest=due;const n=title(p['Задача']);if(n)g.titles.push(n)}}return Object.values(groups).map(g=>{const d=new Date(mon);d.setDate(mon.getDate()+dayIndex[g.day]);g.date=d.toISOString().slice(0,10);g.db=['Суббота','Воскресенье'].includes(g.day)?'e2b4b826-3ac9-4835-bb15-5790acae5b7b':'d9e3f47d-886e-49fa-b109-60e8d57e741b';g.personId=/илья/i.test(g.owner)?'395d872b-594c-81cf-8183-0002356578d3':null;g.priority=g.high?'Высокий':'Средний';g.comment=g.count+' задач. '+g.titles.slice(0,5).join('; ');return{json:g}});"
      }
    },
    {
      "id": "f",
      "name": "Найти строку плана",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.notion.com/v1/databases/\" + $json.db + \"/query\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\"page_size\":1,\"filter\":{\"property\":\"Ключ планирования\",\"rich_text\":{\"equals\":\"{{$json.key}}\"}}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "b",
      "name": "Подготовить upsert плана",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ],
      "parameters": {
        "jsCode": "const g=$('Сформировать план сотрудников').item.json;const id=$json.results?.[0]?.id;const rt=v=>[{type:'text',text:{content:String(v)}}];const properties={'Задача':{title:rt(g.category+' — '+g.owner)},'День':{select:{name:g.day}},'Категория':{multi_select:[{name:g.category}]},'Исполнитель':{rich_text:rt(g.owner)},'Ключ планирования':{rich_text:rt(g.key)},'Неделя':{rich_text:rt(g.week)},'Автоматически':{checkbox:true},'Статус':{select:{name:'Запланировано'}},'Приоритет':{select:{name:g.priority}},'Срок':{date:{start:g.date}},'Комментарий':{rich_text:rt(g.comment)}};if(g.personId)properties['Ответственный']={people:[{id:g.personId}]};return[{json:{method:id?'PATCH':'POST',url:id?'https://api.notion.com/v1/pages/'+id:'https://api.notion.com/v1/pages',body:id?{properties}:{parent:{database_id:g.db},properties}}}]"
      }
    },
    {
      "id": "u",
      "name": "Опубликовать план",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        0
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Ежедневно 06:10": {
      "main": [
        [
          {
            "node": "Задачи: Стратегия",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Финансы",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Юридические",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Продажи",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Маркетинг",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Продукты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Проекты",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Команда",
            "type": "main",
            "index": 0
          },
          {
            "node": "Задачи: Операционка",
            "type": "main",
            "index": 0
          },
          {
            "node": "Читать назначения диспетчера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задачи: Стратегия": {
      "main": [
        [
          {
            "node": "Данные: Стратегия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Стратегия": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Задачи: Финансы": {
      "main": [
        [
          {
            "node": "Данные: Финансы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Финансы": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Задачи: Юридические": {
      "main": [
        [
          {
            "node": "Данные: Юридические",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Юридические": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Задачи: Продажи": {
      "main": [
        [
          {
            "node": "Данные: Продажи",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Продажи": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Задачи: Маркетинг": {
      "main": [
        [
          {
            "node": "Данные: Маркетинг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Маркетинг": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Задачи: Продукты": {
      "main": [
        [
          {
            "node": "Данные: Продукты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Продукты": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Задачи: Проекты": {
      "main": [
        [
          {
            "node": "Данные: Проекты",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Проекты": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Задачи: Команда": {
      "main": [
        [
          {
            "node": "Данные: Команда",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Команда": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Задачи: Операционка": {
      "main": [
        [
          {
            "node": "Данные: Операционка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные: Операционка": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Читать назначения диспетчера": {
      "main": [
        [
          {
            "node": "Данные диспетчера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Данные диспетчера": {
      "main": [
        [
          {
            "node": "Собрать источники",
            "type": "main",
            "index": 9
          }
        ]
      ]
    },
    "Собрать источники": {
      "main": [
        [
          {
            "node": "Сформировать план сотрудников",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сформировать план сотрудников": {
      "main": [
        [
          {
            "node": "Найти строку плана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Найти строку плана": {
      "main": [
        [
          {
            "node": "Подготовить upsert плана",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовить upsert плана": {
      "main": [
        [
          {
            "node": "Опубликовать план",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Kiev",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "active": false,
  "tags": []
}
